:root {
    --header-bg-color: rgba(43, 74, 97, 0.871);
    --accent-color: rgb(148, 207, 255);
    --text-color: rgb(10, 56, 83);
    --title-color: rgb(20, 20, 20);
    --text-second-color: rgb(0, 0, 0);
    --button-text-color: rgb(38, 198, 234);
    --button-bg-color: rgb(11, 14, 102);
    --button-border-color: rgb(38, 199, 234);
    --language-bg_box-color: #FFFFFFB2;
    --title-second-color: rgb(20, 20, 20);
    --learning-navi-text: #000000;
    --footer-text-color: #FFFFFF;
    ---main-font: "Inter", sans-serif;
    --second-family: "HeadlandOne" sans-serif;
    --button-language-change-font: "Hammersmith One" sans-serif;
}


.footer-container {
    background-image: url("../imgs/mountain-pic.png") 1440px 704px no-repeat;
    width: 1440px;
    height: 704px;
    padding-top: 2181px;
    padding-bottom: 350px;

}