:root {
    --header-background: #2B4A61DE;
    --header-hover-text-color: #94CFFF;
    --header-text-color: #FFFFFF;
    --multiple-section-text-color: #0A3853;
    --multiple-section-name-color: #000000;
    --button-text-color: #26C6EA;
    --button-background-color: #0B0E66;
    --learning-boxes-color: #FFFFFFB2;
    --learning-ukr-text: #141414;
    --learning-navi-text: #000000;
    --footer-text-color: #FFFFFF;
    --header-background-color: #2B4A61DE;
    --font-family: "Inter", sans-serif;
    --second-family: "HeadlandOne" sans-serif;
    --language-change-font: "Hammersmith One" sans-serif;
}